* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gratina";
  src: url("src/assets/fonts/Gratina-Font-/Gratina-VGw6Z.otf")
    format("opentype");
}

body {
  font-family: "Gratina", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.left {
  display: flex;
  align-items: center;
}

.instagram-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: #fff;
}

.center {
  text-align: center;
  flex-grow: 1;
}

h1 {
  font-size: 30px;
  letter-spacing: 8px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 2rem;
}

footer h1 {
  font-size: 5rem;
}
